<div class="menu">
  <div ng-if="(foundItems.length == 0)">
    <h3> Nothing found.</h3>
  </div>
  <div ng-if="(foundItems.length > 0)">
    <h3> Items found: {{foundItems.length}}</h3>
    <table>
      <thead>
        <tr>
         
          <th>Name&nbsp;</th>
          <th>Short Name &nbsp;</th>
          <th>Description&nbsp;</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in foundItems">
         
          <td> {{ item.name }} &nbsp;</td>
          <td> {{ item.short_name }}&nbsp; </td>
          <td> {{ item.description }} &nbsp; </td>
          <td> <button ng-click="onRemove({index: $index});">Don't want this one!</button></td>
        </tr>
    </tbody>
    </table>
  </div>
</div>
